
 
 
 h1 {
  color: rgb(109, 14, 14);
}

h4{
  color: grey;
}

.time{
  padding-top: 205px !important;
  padding-bottom: 205px !important;
  background-image:url(./timer1.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  width: auto;
  height: auto;

}


input{


  border-radius: 25px !important;
}

button{
  background-color:#222222;
  color:#ffffff;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: -0.01em;
  line-height: 18px;
  padding:8px 16px;
  border-radius: 10px;
  border: none !important;


}
